name: Unit Test CI

on:
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - .github/workflows/unit-tests.yaml
      - '**.java'
      - '**/pom.xml'

jobs:
  build:
    strategy:
      matrix:
        jdk: [ 21 ]
        os: [ ubuntu-latest, windows-latest, macos-latest, macos-14 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.jdk }}
          distribution: adopt
          cache: maven
      - name: Compile, run tests, and package (JDK 21)
        run: mvn -B package
